$purpleTeamColor: #9b99ff;
$blueTeamColor: #7aafff;
$pinkTeamColor: #f99;
$orangeTeamColor: #ffa768;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

body {
  min-width: 1200px;
}

.calendar {
  padding: 0 15px;
}

.calendar-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 25px;

  &__header {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 0 50px;
    min-width: 120px;
    text-align: center;
  }

  &__control-button {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    background-size: 100%;
    background-position: center;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--prev {
      background-image: url(./images/left-arrow.svg);
    }

    &--next {
      background-image: url(./images/right-arrow.svg);
    }
  }
}

.weekend {
  background-color: #f0f0f0;
}

.sum-cell {
  background-color: #f3f3f3;
}

.team-info-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 220px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__team-name {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
  }

  &__number-people {
    position: relative;
    color: #949494;
    margin-right: 15px;
    padding-left: 15px;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-60%);
      width: 12px;
      height: 12px;
      background-image: url(./images/people.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &__percent {
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 2px;
    color: #fff;
    margin-right: 20px;
  }

  &__collapse {
    cursor: pointer;
    width: 10px;
    height: 5px;
    padding: 2px;
    background-image: url(./images/spoiler-arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    &.active {
      transform: rotate(180deg);
    }
  }
}

.team-last-row {
  td {
    position: relative;
    border-bottom: 30px solid white;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d7d7d7;
    }
  }
}

.team-first-row:not(:first-of-type) {
  td {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d7d7d7;
    }
  }
}

.calendar-table {
  border-collapse: collapse;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  &__head-column {
    border: 1px solid #d7d7d7;
    padding: 10px 3px;
    height: auto;

    &--btn-cell {
      width: auto;
      border: none;
      padding: 0 15px 0 0;
      text-align: start;
      vertical-align: top;
    }

    &--sum-cell {
      vertical-align: top;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      background-color: #f3f3f3;
    }

    &.hide {
      display: none;
    }
  }

  &__add-vacation-button {
    cursor: pointer;
    position: relative;
    background-color: #48ba46;
    border: none;
    padding: 10px 15px 10px 40px;
    border-radius: 7px;
    min-width: 120px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;

    &::before {
      display: block;
      position: absolute;
      content: '';
      left: 15px;
      top: 20px;
      width: 13px;
      height: 1px;
      background-color: rgb(255, 255, 255);
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      left: 21px;
      top: 14px;
      width: 1px;
      height: 13px;
      background-color: rgb(255, 255, 255);
    }

    &:hover {
      background-color: #2e992d;
    }

    &:focus {
      outline: none;
    }
  }

  &__head-week-day {
    font-size: 12px;
    font-weight: 400;
    display: block;
    width: 26px;
    margin: 0 auto 5px;
    text-align: center;
  }

  &__month-day {
    font-size: 14px;
    font-weight: 600;
  }

  &__body-row {
    border: 1px solid #d7d7d7;

    &.teamColor1 {
      border-left: 3px solid $purpleTeamColor;

      &.team-first-row {
        td {
          background-color: rgba($purpleTeamColor, 0.1);
        }

        .weekend {
          background-color: rgba($purpleTeamColor, 0.1);
        }

        .sum-cell {
          background-color: rgba($purpleTeamColor, 0.1);
        }

        .team-info-cell {
          &__percent {
            background-color: $purpleTeamColor;
          }
        }
      }
    }

    &.teamColor2 {
      border-left: 3px solid $blueTeamColor;

      &.team-first-row {
        td {
          background-color: rgba($blueTeamColor, 0.1);
        }

        .weekend {
          background-color: rgba($blueTeamColor, 0.1);
        }

        .sum-cell {
          background-color: rgba($blueTeamColor, 0.1);
        }

        .team-info-cell {
          &__percent {
            background-color: $blueTeamColor;
          }
        }
      }
    }

    &.teamColor3 {
      border-left: 3px solid $pinkTeamColor;

      &.team-first-row {
        td {
          background-color: rgba($pinkTeamColor, 0.1);
        }

        .weekend {
          background-color: rgba($pinkTeamColor, 0.1);
        }

        .sum-cell {
          background-color: rgba($pinkTeamColor, 0.1);
        }

        .team-info-cell {
          &__percent {
            background-color: $pinkTeamColor;
          }
        }
      }
    }

    &.teamColor4 {
      border-left: 3px solid $orangeTeamColor;

      &.team-first-row {
        td {
          background-color: rgba($orangeTeamColor, 0.1);
        }

        .weekend {
          background-color: rgba($orangeTeamColor, 0.1);
        }

        .sum-cell {
          background-color: rgba($orangeTeamColor, 0.1);
        }

        .team-info-cell {
          &__percent {
            background-color: $orangeTeamColor;
          }
        }
      }
    }

    &.hide {
      display: none;
    }
  }

  &__body-column {
    border: 1px solid #d7d7d7;

    &.hide {
      display: none;
    }
  }

  &__body-first-column {
    min-width: 190px;
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    padding: 7px 15px;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 393px;
  background: #fff;
  z-index: 30;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;

  &__overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: 0.3s all;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaeaea;
    padding: 14px 30px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    color: #575757;
  }

  &__days {
    color: #666;
    font-weight: 600;
  }

  &__body {
    padding: 22px 28px;
  }

  &__title {
    color: #000;
    font-weight: 600;
    margin-bottom: 6px;
  }

  &_dates_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    width: 145px;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 35px;
  }

  &__subtitle {
    font-size: 12px;
    color: #000;
  }

  &__date {
    font-size: 14px;
    color: #000;
    font-weight: 600;
  }

  &__dropdown {
    cursor: pointer;
    background: #e9e9e9;
    height: 41px;
    border-radius: 3px;
    margin-bottom: 65px;
    width: 100%;
    padding-left: 15px;
    border: none;

    &:focus {
      outline: none;
    }

    &--team,
    &--user {
      margin: 0 0 20px;
    }

    option {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__footer {
    border-top: 1px solid #d0d0d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
  }

  &__btn {
    display: block;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    width: 153px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &__btn-cancel:hover {
    background: #d0d0d0;
    color: #fff;
  }

  &__btn-send {
    border: none;
    background: #48ba46;
    color: #fff;
  }

  &__btn-send:hover {
    opacity: 0.8;
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}
